.inputContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

.input {
  height: 56px;
  border-radius: 12px;
  width: 60%;
  outline: none;
  border: 1px solid #bdbdbd;
}

.input::placeholder {
  padding-left: 5px;
}

.inputBtn {
  height: 56px;
  width: 109px;
  background-color: #2f80ed;
  color: white;
  border: none;
  border-radius: 12px;
  margin-left: 25px;
}
