.todos {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 33px;

  .todoContainer {
    margin-bottom: 27px;
    display: flex;
    flex-direction: row;

    input {
      min-width: 24px;
      min-height: 24px;
      border: 1px solid #828282;
      margin: 0;
    }

    p {
      margin: 0;
      margin-left: 10px;
    }

    .checked {
      text-decoration: line-through;
    }

    div {
      width: 100%;
      text-align: end;
    }
  }
  .text {
    text-align: center;
    span {
      text-transform: lowercase;
    }
  }
}
